<p id="notice"><%= notice %></p>

<p>
  <strong>受付日:</strong>
  <%= @inquiry.receptiondate %>
</p>

<p>
  <strong>応対者:</strong>
  <%= @inquiry.contact %>
</p>

<p>
  <strong>顧客:</strong>
  <%= @inquiry.client %>
</p>

<p>
  <strong>期限:</strong>
  <%= @inquiry.deadline %>
</p>

<p>
  <strong>ﾀｲﾄﾙ:</strong>
  <%= @inquiry.title %>
</p>

<p>
  <strong>ﾒﾓ:</strong>
  <%= @inquiry.memo %>
</p>


<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>
